@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body{
	font-family:'Poiret One Bold', 'Poiret One';
}

#r0 {
	position: absolute;	
	left: 10px;
	top: 25px;
}

#r0_img{
	position: absolute;
	width: 1024px;
	height: 410px;
	left: 0px;
}